/*================================Broodmother=========================*/
.broodmother {
    background-image: url(/Survival/Ark/Img/the-island/arena-brood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*===================================================================*/
/*=====================================Megapithecus==================*/
.megapithecus {
    background-image: url(/Survival/Ark/Img/the-island/arena-megapithecus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*====================================================================*/

/*============================Dragon==================================*/
.dragon {
    background-image: url(/Survival/Ark/Img/the-island/arena-dragon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/*====================================================================*/

.box-broodmohter {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.box-broodmohter audio {
    margin: 20px 0px 20px 0px;
}

.box_contrucao {
    padding: 10px;
    border-radius: 10px;
}

.box-tributo {
    padding: 10px;
    border-radius: 10px;
}

.box-desbloqueia {
    padding: 10px;
    border-radius: 10px;
}

.box-boss-video {
    padding: 10px;
    border-radius: 10px;
}

#box-brood {
    margin-top: 20px;
    padding: 10px;
}

#box-carrosel-tek {
    margin-top: 20px;
    padding: 10px;
}

#box-carrosel-tek {
    margin-top: 20px;
    padding: 10px;
}

.img_conquist {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.conquista_plataformas {
    align-items: center;
    text-align: center;
    justify-items: center;
    display: flex;
    justify-content: space-around;
}

.box-conquitas {
    padding: 10px;
    border-radius: 10px;
}