* {
    font-family: 'inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.footer {
    width: 100%;
    background-color: rgb(37, 47, 66);
    padding: 10px;
    border-radius: 10px;
}

.par_logo {
    background-color: #c9c2c2;
    display: grid;
    padding: 20px 30px;
    border-radius: 5px;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.redes h1 {
    margin-bottom: 10px;
}

.box_icon_foot {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.box_icon_foot .ico_footer {
    height: 20px;
    width: 20px;
}

.par_midia {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.par_midia .footer_link {
    height: 5px;
    width: 5px;
    color: rgb(255, 239, 239);
}

.par_midia .footer_link:hover {
    color: rgb(200, 255, 0);
}

.box_increv {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.box_increv p {
    color: rgb(255, 239, 239);
}

.footer_email {
    display: flex;
    align-items: center;
    background-color: rgb(246, 250, 252);
    border-radius: 5px;
}

.footer_email input {
    all: unset;
    width: 100%;
}

.footer_email button {
    background-color: #c9c2c2;
    border: none;
    color: black;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 4.5s;
}

.footer_email button:hover {
    opacity: 0.9;
}

.footer_copy {
    display: flex;
    background-color: #c9c2c2;
    justify-content: center;
    padding: 5px;
    font-size: 1rem;
    font-weight: 100;
}

