body {
    background-image: url(/Survival/Ark/Img/the-island/the-island-fund.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
