body {
    font-family: 'Poppins';
}

/* ============ cabecalho ===============  */

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho .logo {
    width: 65px;
}

.cabecalho .menu{
    display: flex;
    align-items: center;
    height: 100%;
}

.cabecalho nav li a {
    font-weight: bold;
    color: rgb(111, 161, 144);
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s;
}

.cabecalho nav li a:hover {
    background-color: rgb(15, 49, 38);
}

.cabecalho nav ul ul {
    display: none;
    position: absolute;
}

.cabecalho nav ul li:hover ul {
    display: block;
    position: absolute;
}
/* ============ cabecalho ===============  */

/*============vidbossbrood===================*/
.j_video_brood {
    display: block;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 5px solid red;
}

.vidbossbrood {
    width: 950px;
    height: 562px;
    display: block;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 5px solid rgb(0, 17, 255);
    margin: 5px;
    overflow: hidden;
    overflow-y: scroll ;
}

.videobrood2 {
    width: 900px;
    height: 502px;
    padding: 10px;
}

.tex_arena_bood {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    color: rgb(157, 255, 0);
    text-align: center;
}

.titulo_boss {
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    color: rgb(100, 151, 33);
    text-align: center;
    border: 1px solid black;
}
/*============vidbossbrood===================*/
.container {
    max-width: 50%;
    background: transparent;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 5px solid rgba(0, 0, 0, 0.2); */
    padding: 10px;
}

.arena {
    flex-direction: column;
    display: flex;
    width: 100vh;
    justify-content: center;
    align-items: center;
}

.titboss {
    font-size: 25px;
    padding: 15px;
    font-weight: bold;
    color: rgb(157, 255, 0);
    
}

.imagembrod {
    align-items: center;
    /* border: 5px solid rgba(173, 7, 7, 0.7); */
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: transparent;
}









/*  bloco boss recurcos */
.rec {
    font-size: 25px;
    font-weight: bold;
    margin: 5px;
    color: rgb( 157, 255, 0)
}

.rec1 {
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}

.gamma {
    color: rgb(143, 224, 13);
}

.beta {
    color: rgb(233, 180, 6);
}

.alpha {
    color:brown;
}

.recursosboss {
    /* border: 5px solid rgb(47, 0, 255); */
    margin: 5px; 
    padding: 5px;
    flex-direction: column;
    display: flex;
    align-items: center;
    
}

.recursos {
    display: flex;
    flex-direction: row;
    
}

.lvlboss {
    flex-direction: row;
    display: flex;
    align-items: center;
    /* border: 3px solid rgb(51, 255, 0); */
    
}



.txt_boss_lvl {
    font-size: 18px;
    font-weight: bold;
    /* border: 3px solid rgb(0, 0, 0, 0.2); */
    padding: 5px;
    border-radius: 10px;
}

.txt_boss_lvl:hover {
    background-color: rgb(39, 72, 163);
    transition: 0.8s;
  }

.artefato {
    height: 80px;
    
}


.artefato1 {
    /* border: 3px solid rgb(0, 0, 0, 5); */
    border-radius: 10px;
    text-align: center;
    
    
}

.art-nome {
    display: flex;
    flex-direction: row;
    margin: 5px;
    text-align: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(51, 255, 0, 0.1);
    border-radius: 10px;
    
}
 
.txt-artefato {
    font-size: 15px;
    font-weight: bold;
    color: rgb(229, 238, 247);
    letter-spacing: 1px;    /* ESPAÇAMENTO ENTRE LETRAS  */
}

.txt_boss_lvl {
    text-transform: uppercase;
}

.art-trofeu {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.itemrequer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    
    line-height: 20px;
    
}

.trofeu {
    width: 70px;
    padding: 5px;
}

.barra_trofeu {
    
    width: 70%;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    
}

.qtd_item {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(17, 17, 15);
    font-size: 15px;
}  

.unlocks {
    border: 3px solid rgb(0, 247, 255);
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.tek {
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}

.elemento {
    margin: 3px;
    margin: 5px;
}

.item_tek {
    display: flex;
    align-items: center;
    /* border: 3px solid rgb(0, 247, 255); */
    margin: 5px;
    font-size: 15px;
}

.drops {
    /* border: 3px solid rgb(0, 247, 255); */
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}






.brood_icon {
    width: 50%;
}

/* bloco boss recurcos */


.textboss {
    font-size: 18px;
    padding: 15px;
    font-weight: bold;
    color: rgb(13, 12, 14);
    align-items: center;
    padding: 5px;
    line-height: 22px;
    background-color:rgba(2, 86, 165, 0.5);
    border-radius: 10px;
    margin-top: 20px;
    width: 60%;
    
}

/*==============GAMA==================*/
.gamma-2 {
    border-radius: 10px;
    border: 5px solid red;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 115%;
    padding: 5px;
}

.gamma_unlok {
    background-color: rgb(51, 255, 0, 0.1);
    border-radius: 10px;
    /* border: 3px solid rgb(0, 247, 255); */
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 5px;
}

/*===============BETA=================*/
.beta-2 {
    border-radius: 10px;
    border: 5px solid red;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 115%;
    padding: 5px;
}

.beta_unlok {
    background-color: rgba(255, 196, 0, 0.1);
    border-radius: 10px;
    border: 3px solid rgb(0, 247, 255);
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 5px;
}


/*===============ALPHA===============*/
.alpha-2 {
    border-radius: 10px;
    border: 5px solid red;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 115%;
    padding: 5px;
}

.alpha_unlok {
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 10px;
    border: 3px solid rgb(25, 0, 255);
    margin: 5px;
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    padding: 5px;
}

.lvlboss001 {
    width: 360px;
    border: 2px solid rgb(0, 255, 42);
    margin: 5px;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 5px;
}









.lvl_boss_novo11 {
    border: 2px solid rgb(255, 0, 234);
    margin: 2px;
    padding: 2px;
}