body {
    font-family: 'Poppins';
}

body {
    background-image: url(../imagens/the-island-fund.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
 }

/* ============ cabecalho ===============  */

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho .logo {
    width: 65px;
}

.cabecalho .menu{
    display: flex;
    align-items: center;
    height: 100%;
}

.cabecalho nav li a {
    font-weight: bold;
    color: rgb(111, 161, 144);
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s;
}

.cabecalho nav li a:hover {
    background-color: rgb(15, 49, 38);
}

.cabecalho nav ul ul {
    display: none;
    position: absolute;
}

.cabecalho nav ul li:hover ul {
    display: block;
    position: absolute;
}
/* ============ cabecalho ===============  */

/* ==========================Bloco DLC======================*/
.dlc {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 300px;
        /* background-color: rgb(218, 215, 250);  */
        /*border: 5px solid rgba(65, 6, 202, 0.7); */
}

.botao_dlc {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.botao_dlc:hover {
    transform: scale(1.2);
}

.dlcimagem {
    width: 280px;
    height: 126px;
    border-radius: 10px;
    margin: 10px;
}

.txt_Bot_dlc{
    font-size: 20px;
    line-height: 0.5;
    color: rgb(1, 0, 5);
    font-weight: bold;
   
   
}
/* ==========================Bloco DLC======================*/
/* ==========================Bloco DLC======================*/

.imgtheisland{
    width: 460px;
    height: 260px;
    /* border: 5px solid rgba(202, 6, 55, 0.7);  */
}

.botao-jogo:hover {
    background-color: rgb(67, 137, 207);
    transition: 0.8s;
}
/*==============Bloco Loja =====================*/
/*==============Bloco Loja =====================*/
.blocoloja {
    width: 460px;
    
    /* background-color: rgb(6, 139, 46);  */
    margin-top: 5px; 
    padding: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: block;
    row-gap: 5px;
    column-gap: 5px;
    /*border: 3px solid red;*/

}

.botao-001 {
    width: 440px;
    /*border: 5px solid rgba(173, 7, 7);  */  
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.txtloja {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}

.bt {
    width: 120px;
}

.botao-jogo {
    background-color: rgba(98, 132, 226, 0.2);  
    text-align: center;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    outline: none;
    margin: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

.logoplat {
    width: 75px;
   
}
/*==============Bloco Loja =====================*/
/*==============Bloco Loja =====================*/


/*=======================Efeito_Botao_Load==========================*/
/*=======================Efeito_Botao_Load==========================*/
.efeito {
    border: none;
    color: #000000;
    padding: 10px;
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;  /*  Altura da linha*/
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;  /*isso para nao somar o padding a altura e largura do elemento*/
    cursor: pointer;
    transition: all 400ms ease;
}

.efeito-1 {
    background-color: rgb(11, 43, 223);
}

.efeito-1:before {
    content:'';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 44px;
    background: rgba(8, 156, 255, 0.5);
    border-radius: 10px;
    transition: all 2s ease;
}

.efeito-1:hover:before {
    width: 100%;
}
/*=======================Efeito_Botao_Load==========================*/
/*=======================Efeito_Botao_Load==========================*/

/*========================Cong-Pag==============================  */
/*========================Cong-Pag==============================  */
.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: rgb(70, 58, 202); */
    padding: 10px;
    /* border: 5px solid rgb(128, 77, 0);  */
}

.sob-island {
    width: 950px;
    /* background-color: blue;  */
    display: flex;
    /*  border: 3px solid blue;  */
    flex-direction: column;
    justify-content: space-around;
    padding: 5px; 
    margin: 5px;  
}

.island_inf {
    width: 930px;
    /* background-color: rgb(255, 0, 128); */
    display: flex;
    flex-direction: row;   /* alinha itens em colunas */
    justify-content: space-around;
    /* border: 3px solid red;  */
}

.ale {
    width: 400px;
    height: 1000px;
    background-color: rgb(0, 255, 149, 0.2);
    padding: 10px 10px;
    border: 5px solid rgba(153, 233, 137, 0.2);
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 18px;
    margin: 10px;
}

.island {
    width: 480px;
    /* background-color: aqua; */
    padding: 10px;
    /* border: 5px solid rgba(93, 7, 173, 0.7); */
    align-items: center;
    flex-direction: column;
    display: flex;
    margin: 10px;
}

.bloco01 {
    /* border: 3px solid rgb(111, 0, 255); */
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
}

.bloco004 {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.txt001 {
    font-size: 25px;
    padding: 10px ;
}

.txt002 {
    font-size: 18px;
    padding: 15px;
}

.txt003 {
    font-size: 18px;
    padding: 15px;
    font-weight: bold;
    color: rgb(111, 0, 255);
}

.barra001 {
    color: white;
    width: 90%;
    margin-top: 10px
}

.sec_001 {
    border: 3px solid rgb(247, 0, 255);
    margin-top: 15px;
}
/*========================Cong-Pag==============================  */
/*========================Cong-Pag==============================  */

/*==============Bloco Arena Boss =====================*/
/*==============Bloco Arena Boss =====================*/
.boos_001 {
    margin-top: 15px;
}

.arena-boss {
    text-align: center;
    font-size: 30px;
    padding: 15px;
    font-weight: bold;
    background-color: rgb(124, 228, 219, 0.3);;
}

.broodmoher {
    margin: 5px;
    align-items: center;
    flex-direction: row;
    display: flex;
    border-radius: 20px;
    border: 5px solid rgb(0, 0, 0, 0.2);
    padding: 20px;
}

.broodmoher {
    background: url(../imagens/theisland/arena-broodmother.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.megapithecus {
    margin: 5px;
    align-items: center;
    flex-direction: row;
    display: flex;
    border-radius: 20px;
    border: 5px solid rgb(0, 0, 0, 0.2);
    padding: 20px;
}

.megapithecus {
    background-image: url(../imagens/theisland/arena-megapithecus.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.dragon {
    margin: 5px;
    align-items: center;
    flex-direction: row;
    display: flex;
    border-radius: 20px;
    border: 5px solid rgb(0, 0, 0, 0.2); 
    padding: 20px;
}

.dragon {
 background-image: url(../imagens/theisland/arena-dragao.png);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}

.cave-tek {
    margin: 5px;
    align-items: center;
    flex-direction: row;
    display: flex;
    border-radius: 20px;
    border: 5px solid rgb(0, 0, 0, 0.2);
    padding: 20px;
}

.cave-tek {
    background-image: url(../imagens/theisland/overseer-arena.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   }

.arena {
    width: 360px;
    height: 204px;
}

/* line-height espaçamento das linhas */

.caixatextoboss {
    width: 540px;
    height: 230px;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 10px;
    /* border: 5px solid rgba(173, 7, 7, 0.5); */
}

.arena_boss {
    width: 900px;
    /*background-color: rgb(127, 255, 159);  */
    /* border: 5px solid rgba(173, 7, 7, 0.7);  */
    flex-direction: column;
    display: flex;
    margin-top: 10PX;
}

.textboss {
    font-size: 18px;
    padding: 15px;
    font-weight: bold;
    color: rgb(13, 12, 14);
    align-items: center;
    padding: 5px;
    line-height: 22px;
    background-color:rgba(2, 86, 165, 0.5);
    border-radius: 10px;
    
}
/*==============Bloco Arena Boss =====================*/
/*==============Bloco Arena Boss =====================*/   

/*===========================Galeria de Imagens=================================*/
/*===========================Galeria de Imagens=================================*/
.galeria_img {
    width: 900px;
    margin: 0 auto;
}

.cover {
    float: left;
    width: 100%;
    margin-top: 20px;
    border: 3px solid rgb(0, 255, 0);
}

.thumbs {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.thumbs li{
    float: left;
    width: 100%;
    border: 2px solid red;
    width: calc((100% -10%)  / 4.5);
    cursor: pointer;
}

.thumbs li:not(:last-child){
    margin-right: 2%;
}    

.thumbs li:hover{
    border: 2px solid royalblue;
}

.thumbs li.active{
    border: 2px solid rgb(0, 255, 0);
}

img{
    max-width: 100%;
}
/*===========================Galeria de Imagens=================================*/
/*===========================Galeria de Imagens=================================*/
.officialtrailler001{
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    margin-top: 10%;
}

.officialtrailler002 {
    width: 920px;
    height: 520px;
    /*border: 5px solid rgba(202, 6, 55, 0.7); */
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ofi_traille {
    font-size: 40px;
    color: rgb(10, 114, 10);
    font-weight: bold;
    align-items: center;
    text-align: center;
}



