body {
    font-family: 'Poppins';
}

.container {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* background-color: rgb(70, 58, 202); */
        padding: 10px;
}

.container .dlc {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 300px;
        /* background-color: rgb(218, 215, 250);  */
        /* border: 5px solid rgba(65, 6, 202, 0.7); */
        padding: 10px;
        
}


    
.dlcimagem {
    width: 280px;
    height: 126px;
    border-radius: 10px;
}

.test {
    width: 900px;
    height: 1050px;
    /* background-color: rgb(255, 0, 128); */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sob-island {
    width: 1000px;
    height: 3000px;
    /* background-color: blue;  */
    display: flex;
    
    flex-direction: column;
    padding: 5px;   
}

.ale {
    width: 400px;
    height: 1000px;
    background-color: rgb(0, 255, 149, 0.2);
    padding: 10px 10px;
    /* border: 5px solid rgba(173, 129, 7, 0.7); */
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 18px;
}

/* aba  div island*/

.island {
    width: 480px;
    height: 1000px;
    /* background-color: aqua; */
    padding: 10px;
    /* border: 5px solid rgba(93, 7, 173, 0.7); */
    align-items: center;
    flex-direction: column;
    display: flex;
}

.imgtheisland{
    width: 460px;
    height: 260px;
    /* border: 5px solid rgba(202, 6, 55, 0.7);  */
    
}

.logoplat {
    width: 20px;
    height: 20px;
}

.blocoloja {
    width: 460px;
    height: 250px;
    /* background-color: rgb(6, 139, 46);  */
    margin-top: 5px; 
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    row-gap: 5px;
    column-gap: 5px;

}

.botao-jogo {
    background-color: rgba(98, 132, 226, 0.5);  
    text-align: center;
    border-radius: 10px;
    width: 125px;
    height: 50px;
    user-select: none;
    cursor: pointer;
    outline: none;
    margin: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

 

.botao-jogo:hover {
    background-color: rgb(67, 137, 207);
    transition: 0.8s;
}

.officialtrailler001 {
    width: 460px;
    height: 260px;
    /*border: 5px solid rgba(202, 6, 55, 0.7); */
    margin-top: 15px;
}

.video {
    width: 900px;
    height: 1050px;
    /* background-color: rgb(127, 255, 159); */
    /* border: 5px solid rgba(173, 7, 7, 0.7);  */
    flex-direction: column;
    display: flex;
    margin-top: 10PX;
}

.broodmoher {
    /* border: 5px solid rgba(173, 129, 7, 0.7); */
    margin: 5px;
    align-items: center;
    flex-direction: row;
    display: flex;
    
}

.megapithecus {
    /* border: 5px solid rgba(173, 129, 7, 0.7); */
    margin: 5px;
    align-items: center;
    flex-direction: row;
    display: flex;
}

.dragon {
    /* border: 5px solid rgba(173, 129, 7, 0.7); */
    margin: 5px;
    align-items: center;
    flex-direction: row;
    display: flex;
}

.cave-tek {
    /* border: 5px solid rgba(173, 129, 7, 0.7); */
    margin: 5px;
    align-items: center;
    flex-direction: row;
    display: flex;
}

/**/



/*
.sobjogo {
    width: 300px;
    height: 580px;
    background-color: brown;
}

*/


.txt001 {
    font-size: 25px;
    padding: 10px ;
    
}
.txt002 {
    font-size: 18px;
    padding: 15px;
}

.txt003 {
    font-size: 18px;
    padding: 15px;
    font-weight: bold;
    color: rgb(111, 0, 255);
}

.txtloja {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.barra001 {
    color: blc;
    width: 90%;
    margin-top: 10px
}

.infboss {
    font-size: 18px;
    padding: 15px;
    font-weight: bold;
    /* color: rgb(5, 37, 124); */
    align-items: center;
    border: 5px solid rgba(173, 7, 7, 0.1);
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    background-color: transparent;
}

.infboss:hover {
    background-color: rgb(76, 94, 146);
    transition: 0.8s;
}

.textboss {
    font-size: 18px;
    padding: 15px;
    font-weight: bold;
    color: rgb(13, 12, 14);
    align-items: center;
    padding: 10px;
    line-height: 22px;
    background-color:rgba(2, 86, 165, 0.5);
    border-radius: 10px;
}
/* line-height espaçamento das linhas */

.caixatextoboss {
    width: 540px;
    height: 230px;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 10px;
    /* border: 5px solid rgba(173, 7, 7, 0.5); */
}

.botao-001 {
    width: 440px;
    height: 150px;
    /* border: 5px solid rgba(173, 7, 7);    caixa botao loja */
    align-items: center;
    flex-wrap: wrap;
    display: inline-flex;
    flex-direction: row;
}

.arena {
    width: 360px;
    height: 204px;
}

.arena-boss {
    text-align: center;
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
    background-color: rgb(124, 228, 219, 0.3);;
}

