@media screen and (max-width: 400px) {
    body {
        background-color:  red;
    }

    .container { 
        max-width: 340px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
}

    .cabecalho {
        width: 300px;
        align-items: center;
        flex-direction: column;
        display: flex;
    }

    .menu {
        width: 320px;
        align-items: center;
        flex-direction: column;
        display: flex;
    }

    .test {
        width: 330px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sob-island  {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding: 10px;
        width: 340px;
        
        
       
    }

    .island {
        width: 300px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 10px;
    }

    .ale {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        background-color: transparent;
        
    }

    .txt_inf {
        width: 310px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(98, 132, 226, 0.5);
        border-radius: 10px;
        font-size: 18px;
    }

    .imgtheisland {
        width: 330px;
        height: 152px;
    }

    .txt002 {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(98, 132, 226, 0.5);
        border-radius: 10px;
        font-size: 18px;
        margin-top: 20px;
    }

    .botao-001 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        display: block;
        /* background-color: brown; */
        width: 100%;
        justify-content: space-between;
    }

   .botao-jogo {
        width: 90%;
        display: flexbox;
        flex-direction: column;
        align-items: center;
         text-align: center;

    }

    .blocoloja{
        flex-direction: column;
        align-items: center;
        text-align: center;
        display: block;
        /* background-color: blue; */
        padding: 5px;
        margin: 10px;
        width: 70%;
        height: 340px;
    }
   

   .officialtrailler002  {
    width: 300px;
    height: 167px;
    margin: 10px;
    }   

    .video {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 320px;
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
    }

    .broodmoher {
        width: 320px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        background-color:rgba(2, 86, 165, 0.5);
        display: flex;
        justify-content: space-between;
        
    }

    .megapithecus {
        width: 320px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        background-color:rgba(2, 86, 165, 0.5);
        display: flex;
        justify-content: space-between;
    }

    .dragon {
        width: 320px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        background-color:rgba(2, 86, 165, 0.5);
        display: flex;
        justify-content: space-between;
    }

    .cave-tek {
        width: 320px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        background-color:rgba(2, 86, 165, 0.5);
        display: flex;
        justify-content: space-between;
    }

    .caixatextoboss {

        width: 310px;
        font-size: 18px;
        letter-spacing: 1px;
    }

    .textboss {
        width: 310px;
        padding: 5px;
        background-color: transparent;
        
    }

    .infboss {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .arena {
        width: 300px;
        height: 167px;
        padding-top: 15px;
    }
   
    .dlc {
        margin-top: 10px;
    }

    

}    